# Web Server
sonar.web.host={{ sonar_web_host }}
sonar.web.port={{ sonar_web_port }}

# Database
sonar.jdbc.username={{ sonar_jdbc_username }}
sonar.jdbc.password={{ sonar_jdbc_password }}
sonar.jdbc.url={{ sonar_jdbc_url }}
